/* Closed list */
body div[data-testid='list'].-closed {
	transform: rotate(90deg);
	transform-origin: top left;
	position: relative;
	height: 42px;
	left: 42px;
	width: 228px;
	margin-right: -182px;
}

/* Hide everything in a closed list... */
div[data-testid='list'].-closed * {
	display: none !important;
}

/* ...except for the title and the collapse toggle */
div[data-testid='list'].-closed div[data-testid='list-header'],
div[data-testid='list'].-closed div[data-testid='list-header'] > div,
div[data-testid='list'].-closed div[data-testid='list-header'] h2[data-testid='list-name'], 
div[data-testid='list'].-closed div[data-testid='list-header'] .collapse-toggle {
	display: block !important;
}

div[data-testid='list'].-closed div[data-testid='list-header'] h2[data-testid='list-name'] {
	top: -3px;
}

div[data-testid='list'].-closed .collapse-toggle {
	top: 2px;
}

/* We need to reduce the width of the title to fit the collapse toggle in */
.js-list-container h2[data-testid='list-name'] {
	left: 27px;
	padding-left: 5px;
}

.js-list-container h2[data-testid='list-name'] ~ textarea {
	width: calc(100% - 22px);
}

/* Collapsed list header - rotated + some css hackery to make it look right */
.js-list-container.-closed h2[data-testid='list-name'] {
	height: 40px !important;
	width: auto;
	line-height: 30px;
	display: block !important;
	position: absolute; 
	background: transparent;
	left: 36px;
	top: 4px;
}

.ui-draggable-dragging {
	display: none !important;
}

/* Collapse toggle button */
.collapse-toggle {
	float: left;
	cursor: pointer;
	background: #888888;
	border: 1px solid;
	border-color: #bbbbbb;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	text-align: center;
	position: relative;
	top: 5px;
	left: 5px;
}

/* Collapse toggle button (triangle) */
.collapse-toggle:after {
	display: block;
	content: '';
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #000;
	position: absolute;
	top: 8px;
	left: 5px;
}

/* Collapse toggle button (triangle) closed state */
div[data-testid='list'].-closed .collapse-toggle:after {
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #000;
	border-right: none;
	left: 8px;
	top: 5px;
}

/* Card count badge — only visible when list is collapsed */
div[data-testid='list'].-closed .collapse-toggle::before {
	display: flex !important;
	align-items: center;
	justify-content: center;
	content: attr(data-count);
	position: absolute;
	top: -1px;
	left: 180px;
	width: 22.5px;
	height: 22.5px;

	background: #242528;
	/*border: 1px solid;*/
	/*border-color: #888888;*/
	border-radius: 33%;

	font-size: 14px;
	font-weight: bold;
	color: #c9cacc;
	line-height: 1;
	transform: rotate(-90deg);
}

/* Hide label by default */
.collapse-label {
	display: none;
}

div[data-testid='list'].-closed .collapse-toggle .collapse-label {
	display: block !important;
	position: absolute;
	top: 0px;
	left: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #c4c5c8;
	white-space: nowrap;
	transform-origin: left top;

	max-width: 140px;

	overflow: hidden;
	text-overflow: ellipsis;
}

/* I tried to add a fade effect when it gets too long but it worked for all text, not just when it overflowed. So just doing `text-overflow: ellipsis;` for now */
/*div[data-testid='list'].-closed .collapse-toggle .collapse-label {
	-webkit-mask-image: linear-gradient(to right, black 70%, transparent 100%);
	mask-image: linear-gradient(to right, black 70%, transparent 100%);
}*/